.container{
    margin: 1rem;
}

.title{
    font-size: 1.5rem;
}

.list{
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.list li {
    width: 10rem;
    margin: 1rem auto;
    text-align: start;
}